.companyLogo {
  display: flex;
  grid-gap: 30px;
}
.brandLogoBox {
  padding: 2px;
}
.brandLogoBox img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .brandLogoBox img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
